langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langchain-mistralai
langchain-nvidia-ai-endpoints
langchain-ollama
langchain-openrouter
streamlit
python-dotenv
langsmith
fastapi
uvicorn